[Unit]
Description=My Web Server Service
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/etc/systemd/system/sample.service 
User=Misha_Remeslo
